# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
*.firebase
.firebase/
# Dependency directories
node_modules/
jspm_packages/

package-lock.json

# Optional npm cache directory
.npm

# nuxt build directory
.nuxt


#dist
dist/


.firebase/
.firestore/
dist/.nojekyll
dist/README.md
